section{
    display: flex;
    justify-content: space-between;
}

 img{
   display:inline-flex;

}

 .header {
    color:rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    position: relative;
    left: 52px;
    bottom: 82px;
}

 ul{
   margin: auto;
    float: right;
   
} 

 li{
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;


}
#socialMedia{
    float: right;
    position: relative;
    bottom: 150px;
   margin-top: 20px;
}

header h1{
    margin-bottom: 0px;
}
header p{
    margin-top: 0px;
}

